{% extends "basefront.html.twig" %}

{% block body %}
    <div class="row mt-3">
        <div class="col">
            <h3>{{ visite.datecreationstring }}</h3>
            <h1 class="text-primary mt-5" style="font-family: 'Exo 2', sans-serif;color:#0E86D4">{{ visite.ville }}</h1>
            <h2>{{ visite.pays }}</h2>
            {% if visite.note>=10 %}
                <h2 class="text-sucess mt-5">{{ visite.note }}/20</h2>
            {% else %}
                 <h2 class="text-danger mt-5">{{ visite.note }}/20</h2>
            {% endif %}
            <h5 class="mt-5">Température entre {{ visite.tempmin }}° et {{ visite.tempmax }}°</h5>
            <h5 class ="mt-5"><strong>Environnements :</strong></h5>
            {% for environnement in visite.environnements %}
            {{ environnement.nom }}
            {% endfor %}
        
         <div class="row mt-3">
        <div class="col ">
            <h5 class="mt-5"><strong>Mon avis :</strong></h5>
            <p style="font-size:20px">
                {{ visite.avis }}
            </p>
        </div>
        </div>
        </div>
    </div>
        <div class="col">
            <!-- emplacement photo-->
            {% if visite.imagename %}
                <img src="{{ app.request.getBasePath()~vich_uploader_asset(visite, 'imageFile')}}"
                     class="card-img-top" style="width:100%;height:auto;">
            {% endif %}
        </div>
   
{% endblock %}






























